@import "tailwindcss";

@theme inline {
  --font-title: var(--font-unbounded);
  --font-text: var(--font-noto-sans);

  --color-grey: #f6f6f6;
  --color-red: #f75708;
  --color-black: #191919;

  --color-blue: #5b98ff;
  --color-light-blue: #bee0ff;

  --color-green: #5b985e;
  --color-light-green: #bee0c0;
}

.card {
  @apply rounded-[20px] bg-white px-6;
}

.cards-grid {
  @apply flex flex-col gap-2 md:gap-4 xl:gap-6;
}

.content-gap {
  @apply flex flex-col gap-[calc(100px/3*1)] md:gap-[calc(100px/3*2)] xl:gap-[calc(100px/3*3)];
}

.text-16 {
  @apply font-text text-[16px]/[100%];
}

.text-24 {
  @apply font-text text-[16px]/[100%] md:text-[20px] xl:text-[24px];
}

.title-24-120 {
  @apply font-title text-[16px]/[120%] md:text-[20px] xl:text-[24px];
}

.title-h1 {
  @apply font-title text-[32.66px]/[100%] font-bold md:text-[70px] xl:text-[84px];
}

body {
  background: var(--color-grey);
  color: var(--color-black);
}
