@import "tailwindcss";

:root {
  --white: #fff;
  --grey: #f6f6f6;
  --black: #191919;
  --red: #f75708;
  --blue: #5b98ff;
  --light-blue: #bee0ff;
  --green: #5b985e;
  --light-green: #bee0c0;
}

@theme inline {
  --font-title: var(--font-unbounded);
  --font-text: var(--font-noto-sans);

  --color-white: var(--white);
  --color-grey: var(--grey);
  --color-red: var(--red);
  --color-black: var(--black);
  --color-blue: var(--blue);
  --color-light-blue: var(--light-blue);
  --color-green: var(--green);
  --color-light-green: var(--light-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #5f5f5f;
    --grey: #1d1d1d;
    --black: #f6f6f6;
  }
}

.card {
  @apply rounded-[20px] bg-white px-6;
}

.cards-grid {
  @apply flex flex-col gap-2 md:gap-4 xl:gap-6;
}

.content-gap {
  @apply flex flex-col gap-[calc(100px/3*1)] md:gap-[calc(100px/3*2)] xl:gap-[calc(100px/3*3)];
}

.text-16 {
  @apply font-text text-[16px]/[100%];
}

.text-16-145 {
  @apply font-text text-[16px]/[145%];
}

.text-24 {
  @apply font-text text-[16px]/[100%] md:text-[20px] xl:text-[24px];
}

.title-24-120 {
  @apply font-title text-[16px]/[120%] md:text-[20px] xl:text-[24px];
}

.title-24 {
  @apply font-title text-[16px]/[100%] md:text-[20px] xl:text-[24px];
}

.title-h1 {
  @apply font-title text-[32.66px]/[100%] font-bold md:text-[70px] xl:text-[84px];
}

body {
  background: var(--color-grey);
  color: var(--color-black);
}
